<header>
	<div class="navbar navbar-fixed-top">
 
		<div class="navbar-inverse main-header">
			<div class="navbar-inner">
				<a class="brand" href="#">{{partials.header.appTitle}}</a>
				
				<div class="pull-right">
					{{#if data.name}}
						<a>Hi {{data.name}}</a>
						 <a href="/store/console/logout">Logout</a>
					{{else}}
						<a href="login"><i class="icon-eye-open"> </i>Login</a>
					{{/if}}
				</div>
			</div>
			<div class="well serach-bar">
				<div class="span3">
					<img src="../themes/img/logo.png">
				</div>
				{{#if hasSearch}}
				<div class="span9">
					<div class="serach-box raw-fluid input-append">
						<input type="text" id="search-text">
						<a href="#" class="btn"><i class="icon-search"> </i></a>
					</div>

				</div>
				{{/if}}
			</div>

		</div>

	</div>

</header>