<div class="row">
    <div class="span3">
          <h4><i class="icon-star"></i>{{t "Popular Tags"}}</h4>

        <div class="store-tags">
            <ul>
                {{#each data}}
                    <li>
                        <a href="{{url ../this.url}}{{name}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>