<div class="container">

	<div class="raw">
		<div class="navbar">
			<div  class="navbar-inner">

				<div id="menu-list" class="pull-left">
					<script id="hbs-menu-list" type="text/x-handlebars-template">
						<ul class="nav">
						[{#menus}]
						[{#compare active ../active}]
							<li class="active">
						[{else}]
							<li>
						[{/compare}]
						
						<a href="/store/console/home[{link}]">[{name}]</a>
						</li>
						[{/menus}]
						</ul>
					</script>
				</div>		   		
				

			</div>
			
			

		</div>
	</div>

	<div class="raw">

		<div class="span11">			

			<div class="block">
				<div class="block-header">
					Most Popular Apps
				</div>
				<div id="top-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div>

			<div class="block">
				<div class="block-header">
					New Apps
				</div>
				<div id="newest-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div>

		</div>

	</div>

</div>

<script id="hbs-app-list" type="text/x-handlebars-template">
	[{#apps}]
	
		<div  class="span2 text-center app-block">
		<div class="raw-fluid">
		<a href="install?app=[{id}]">	
		<div class=" ellipsis app-block-name"><b>[{attributes.overview_name}]</b></div>
		</div>
		<div class="raw-fluid">
		<img class="app-icon" src="[{attributes.images_icon}]">
		</div>
		<div class="app-info">
		<div class="raw-fluid">
		<div class=" ellipsis app-block-name">Publisher: [{attributes.overview_provider}]</div>
		</div>
		</a>
		<div class="raw-fluid">
			<div class="rateit"></div>
		</div>
		<div class="raw-fluid">
			[{#compare attributes.overview_platform 'android' }]
				<img src="/store/themes/img/android.png" style="width:25px">
			[{/compare}]

			[{#compare attributes.overview_platform 'ios' }]
				<img src="/store/themes/img/ios.png" style="width:25px">
			[{/compare}]
			
			<a href="login?appid=[{id}]" class="btn btn-info btn-small btn-install">Install</a>
		</div>
		</div>
		</div>
	
	[{/apps}]
</script>