<div class="container">

	<div class="raw-fluid">
		<div class="span3">
			<div class="title">
				<h3>Automate it</h3>
				<div class="raw text-center">
					<img src="../themes/img/icon.png">

					<div class="appinfo-details">
						<div class="raw-fluid">
							<b>Category: </b> Business
						</div>
						<div class="raw-fluid">
							<b>Author: </b> Automate
						</div>
					</div>

					<div class="appinfo-install">
						<button class="btn btn-large btn-info">
							Install
						</button>
					</div>
				</div>

			</div>
		</div>
		<div class="span8 pull-right">
			<div class="raw-fluid banner">
				<img src="../themes/img/banner.png">
			</div>

			<div class="appinfo-details">

				<ul class="nav nav-tabs" id="application-tab">
					<li class="active">
						<a href="#appinfo-details-tab">Details</a>
					</li>
					<li>
						<a href="#appinfo-comments-tab">Comments</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="appinfo-details-tab">
						<div class="raw-fluid">
							<h5>Description</h5>
							gg gflk glkglk  glkdglk dffkljer le jlkf lgjdlgl flgl lk lkjel jl rwlkrel l lrwl ltkt kt letlejrl lewjrlw llrew lr wljelrew
						</div>
						<div class="raw-fluid">
							<h5>Screen Shots</h5>
							<div class="screen-shot">
								<img src="../themes/img/screnshot.png">
							</div>
							<div class="screen-shot">
								<img src="../themes/img/screnshot.png">
							</div>
							<div class="screen-shot">
								<img src="../themes/img/screnshot.png">
							</div>
						</div>
					</div>

					<div class="tab-pane" id="appinfo-comments-tab">
						<div class="raw-fluid">

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>