<div class="container" id="install-app">
	<script id="hbs-install-app" type="text/x-handlebars-template">
	<div class="raw-fluid">
		<div class="span3">
			<div class="title">
				<h3>[{app.attributes.overview_name}]</h3>
				<div class="raw text-center">
					<img src="[{app.attributes.images_icon}]">

					<div class="appinfo-details">
						<div class="raw-fluid">
							<b>Category: </b> Business
						</div>
						<div class="raw-fluid">
							<b>Author: </b> [{app.attributes.overview_provider}]
						</div>
					</div>

					<div class="appinfo-install">
						<button class="btn btn-large btn-info">
							Install
						</button>
					</div>
				</div>

			</div>
		</div>
		<div class="span8 pull-right">
			<div class="raw-fluid banner">
				<img src="[{app.attributes.images_banner}]">
			</div>

			<div class="appinfo-details">

				<ul class="nav nav-tabs" id="application-tab">
					<li class="active">
						<a href="#appinfo-details-tab">Details</a>
					</li>
					<li>
						<a href="#appinfo-comments-tab">Comments</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="appinfo-details-tab">
						<div class="raw-fluid">
							<h5>Description</h5>
							[{app.attributes.overview_description}]
						</div>
						<div class="raw-fluid">
							<h5>Recent Changes</h5>
							[{app.attributes.overview_recent_changes}]
						</div>
						<div class="raw-fluid">
							<h5>Screen Shots</h5>
							[{#app.attributes.images_screenshots}]
							<div class="screen-shot">
								<img src="[{this}]">
							</div>
							[{/app.attributes.images_screenshots}]							
						</div>
					</div>

					<div class="tab-pane" id="appinfo-comments-tab">
						<div class="raw-fluid">

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	</script>
</div>
