<div class="container">

	<div class="raw">
		<div class="navbar">
			<div  class="navbar-inner">

				<div id="menu-list" class="pull-left">
					<script id="hbs-menu-list" type="text/x-handlebars-template">
							<ul class="nav">
						[{#menus}]
						[{#compare active ../active}]
							<li class="active">
						[{else}]
							<li>
						[{/compare}]
						
						<a href="/store/console/user_home[{link}]">[{name}]</a>
						</li>
						[{/menus}]
						</ul>
					</script>
				</div>				

			</div>

		</div>
	</div>

	<div class="raw">

		<div class="span11">

			<div class="block">
				<div class="block-header">
					My Devices
				</div>
				<div class="container-fluid raw-fluid block-body">
					<ul id="devices-list-ui" class="jcarousel-skin-tango">

					</ul>
				</div>
			</div>

			
			<!--
			<div class="block">
				<div class="block-header">
					My Apps
				</div>
				<div id="newest-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div> 
			-->
			
			<div class="block">
				<div class="block-header">
					Recommended Apps For You
				</div>
				<div id="recommanded-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div>

		</div>

	</div>

</div>

<div id="myDevices" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			x
		</button>
		<h4 id="myModalLabel">Select your device to install</h4>
	</div>
	<div class="modal-body">
		<ul id="devices-list-ui-modal" class="jcarousel-skin-tango">

		</ul>
	</div>
</div>

<script id="hbs-app-list" type="text/x-handlebars-template">
	[{#apps}]

	<div  class="span2 text-center app-block">
	<div class="raw-fluid">
	<a href="install?app=[{id}]">
	<div class=" ellipsis app-block-name"><b>[{attributes.overview_name}]</b></div>
	</div>
	<div class="raw-fluid">
	<img class="app-icon" src="[{attributes.images_icon}]">
	</div>
	<div class="app-info">
	<div class="raw-fluid">
	<div class=" ellipsis app-block-name">Publisher: [{attributes.overview_provider}]</div>
	</div>
	</a>
	<div class="raw-fluid">
	<div class="rateit"></div>
	</div>
	<div class="raw-fluid">
	[{#compare attributes.overview_platform 'android' }]
				<img src="/store/themes/img/android.png" style="width:25px">
			[{/compare}]

			[{#compare attributes.overview_platform 'ios' }]
				<img src="/store/themes/img/ios.png" style="width:25px">
			[{/compare}]
	<button class="btn btn-info btn-small btn-install" data-appid="[{id}]" data-platform="[{attributes.overview_platform}]"  href="#myDevices" data-toggle="modal">Install</button>
	</div>
	</div>
	</div>

	[{/apps}]
</script>




<script id="hbs-my-app-list" type="text/x-handlebars-template">
	[{#apps}]

	<div  class="span2 text-center app-block">
	<div class="raw-fluid">
	<a href="install?app=[{id}]&remove=true">
	<div class=" ellipsis app-block-name"><b>[{attributes.overview_name}]</b></div>
	</div>
	<div class="raw-fluid">
	<img class="app-icon" src="[{attributes.images_icon}]">
	</div>
	<div class="app-info">
	<div class="raw-fluid">
	<div class=" ellipsis app-block-name">Publisher: [{attributes.overview_provider}]</div>
	</div>
	</a>
	<div class="raw-fluid">
	<div class="rateit"></div>
	</div>
	<div class="raw-fluid">
	[{#compare attributes.overview_platform 'android' }]
				<img src="/store/themes/img/android.png" style="width:25px">
			[{/compare}]

			[{#compare attributes.overview_platform 'ios' }]
				<img src="/store/themes/img/ios.png" style="width:25px">
			[{/compare}]

			[{#compare attributes.overview_platform 'webapp' }]
				<img src="/store/themes/img/webapp.png" style="width:25px">
			[{/compare}]
			
	<button class="btn btn-danger btn-small btn-remove" data-appid="[{id}]"  href="#myDevices" data-toggle="modal">Remove</button>
	</div>
	</div>
	</div>

	[{/apps}]
</script>


<script id="hbs-devices-list" type="text/x-handlebars-template">
	[{#devices}]
	
	

	[{#compare @index ../device}]
		<li class="device-item selected text-center">
	[{else}]
		
		[{#compare ../../device '-1'}]
			<li class="device-item">
		[{else}]
			<li class="device-item" style="opacity: 0.2">
       [{/compare}]
		
	[{/compare}]


    <a href="user_home?device=[{@index}]&platform=[{platform}]"><img class="device-image" src="[{viewImage model}]">
	
	<div class="text-center">
	[{model}]
	</div>
	</a>
	</li>


	

	
	
	[{/devices}]
</script>


<script id="hbs-devices-list-modal" type="text/x-handlebars-template">
	[{#devices}]
		<div class="span2 device-img" data-deviceid="[{id}]" data-dismiss="modal" aria-hidden="true" >
		<img class="device-image" src="[{viewImage model}]">
			<div class="raw">
			[{model}]
			</div>
	</div>
	[{/devices}]
</script>