<div class="container">

	<div class="raw">
		<div class="navbar">
			<div  class="navbar-inner">

				<div id="menu-list" class="pull-left">
					<script id="hbs-menu-list" type="text/x-handlebars-template">
						<ul class="nav">
						[{#menus}]
						<li>
						<a href="#">[{name}]</a>
						</li>
						[{/menus}]
						</ul>
					</script>
				</div>
				
				<div class="pull-right">
					<ul class="nav">
						<li>
							<a href="#">My Apps</a>
						</li>
					</ul>
				</div>

			</div>
			
			

		</div>
	</div>

	<div class="raw">

		<div class="span11">

			<div class="block">
				<div class="block-header">
					My Devices
				</div>
				<div class="container-fluid raw-fluid block-body">
					<ul id="devices-list-ui" class="jcarousel-skin-tango">
						<script id="hbs-devices-list" type="text/x-handlebars-template">
							[{#devices}]
							<li class="device-item"><img class="device-image" src="../themes/img/[{model}].png">
							<div class="text-center">
							[{name}]
							</div>
							</li>
							[{/devices}]
						</script>
					</ul>
				</div>
			</div>

			<div class="block">
				<div class="block-header">
					Recommanded Apps For You
				</div>
				<div id="recommanded-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div>

			<div class="block">
				<div class="block-header">
					Newest Apps
				</div>
				<div id="newest-app-list" class="container-fluid raw-fluid block-body">

				</div>
			</div>

		</div>

	</div>

</div>

<script id="hbs-app-list" type="text/x-handlebars-template">
	[{#apps}]
	<a href="install?appid=[{id}]">
		<div  class="span2 text-center app-block">
		<div class="raw-fluid">
		<b>[{attributes.overview_name}]</b>
		</div>
		<div class="raw-fluid">
		<img class="app-icon" src="[{attributes.images_icon}]">
		</div>
		<div class="app-info">
		<div class="raw-fluid">
		[{attributes.overview_provider}]
		</div>
		<div class="raw-fluid">
			<div class="rateit"></div>
		</div>
		</div>
		</div>
	</a>
	[{/apps}]
</script>